/**

	                                                       .-'''-.                                                                                                   
	                                                      '   _    \                                                                                                 
	                   __.....__     /|                 /   /` '.   \              __.....__                .              __.....__                                 
	       _     _ .-''         '.   ||                .   |     \  '  .--./)  .-''         '.            .'|          .-''         '.                               
	 /\    \\   ///     .-''"'-.  `. ||             .| |   '      |  '/.''\\  /     .-''"'-.  `.      .| <  |         /     .-''"'-.  `. .-,.--.                     
	 `\\  //\\ ///     /________\   \||  __       .' |_\    \     / /| |  | |/     /________\   \   .' |_ | |        /     /________\   \|  .-. |                    
	   \`//  \'/ |                  |||/'__ '.  .'     |`.   ` ..' /  \`-' / |                  | .'     || | .'''-. |                  || |  | |                    
	    \|   |/  \    .-------------'|:/`  '. ''--.  .-'   '-...-'`   /("'`  \    .-------------''--.  .-'| |/.'''. \\    .-------------'| |  | |                    
	     '        \    '-.____...---.||     | |   |  |                \ '---. \    '-.____...---.   |  |  |  /    | | \    '-.____...---.| |  '-                     
	               `.             .' ||\    / '   |  |                 /'""'.\ `.             .'    |  |  | |     | |  `.             .' | |                         
	                 `''-...... -'   |/\'..' /    |  '.'              ||     ||  `''-...... -'      |  '.'| |     | |    `''-...... -'   | |                         
	       _..._                     '  `'-'`     |   /               \'. __//                      |   / | '.    | '.            .-'''-.|_|                         
	    .-'_..._''.                               `'-'                 `'---'                       `'-'  '---'   '---'          '   _    \                          
	  .' .'      '.\                                                          __  __   ___         __.....__                   /   /` '.   \              .          
	 / .'                                              _.._                  |  |/  `.'   `.   .-''         '.         _     _.   |     \  '            .'|          
	. '                                              .' .._|.-,.--.          |   .-.  .-.   ' /     .-''"'-.  `. /\    \\   //|   '      |  '.-,.--.  .'  |          
	| |                                              | '    |  .-. |    __   |  |  |  |  |  |/     /________\   \`\\  //\\ // \    \     / / |  .-. |<    |          
	| |                   _         _              __| |__  | |  | | .:--.'. |  |  |  |  |  ||                  |  \`//  \'/   `.   ` ..' /  | |  | | |   | ____     
	. '                 .' |      .' |            |__   __| | |  | |/ |   \ ||  |  |  |  |  |\    .-------------'   \|   |/       '-...-'`   | |  | | |   | \ .'     
	 \ '.          .   .   | /   .   | /             | |    | |  '- `" __ | ||  |  |  |  |  | \    '-.____...---.    '                       | |  '-  |   |/  .      
	  '. `._____.-'/ .'.'| |// .'.'| |//             | |    | |      .'.''| ||__|  |__|  |__|  `.             .'                             | |      |    /\  \     
	    `-.______ /.'.'.-'  /.'.'.-'  /              | |    | |     / /   | |_                   `''-...... -'                               | |      |   |  \  \    
	             ` .'   \_.' .'   \_.'               | |    |_|     \ \._,\ '/                                                               |_|      '    \  \  \   
	                                                 |_|             `--'  `"                                                                        '------'  '---' 

 * ====================================================================================================================================================================
 * 
 * A customization of the Responsable Grid System
 *
 * @author Abban Dunne http://webtogether.ie
 * @version 0.9
 * 
 */
/* Import normalize, baseline and grid
/* ========================================================== */
@font-face {
  font-family: 'Borgia';
  src: url('../fonts/BorgiaPro-Regular-webfont.eot');
  src: url('../fonts/BorgiaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BorgiaPro-Regular-webfont.woff') format('woff'), url('../fonts/BorgiaPro-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Borgia';
  src: url('../fonts/BorgiaPro-Bold-webfont.eot');
  src: url('../fonts/BorgiaPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BorgiaPro-Bold-webfont.woff') format('woff'), url('../fonts/BorgiaPro-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Borgia';
  src: url('../fonts/BorgiaPro-Italic-webfont.eot');
  src: url('../fonts/BorgiaPro-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BorgiaPro-Italic-webfont.woff') format('woff'), url('../fonts/BorgiaPro-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Borgia';
  src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot');
  src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BorgiaPro-BoldItalic-webfont.woff') format('woff'), url('../fonts/BorgiaPro-BoldItalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Icons';
  src: url('../icons/icons.eot');
  src: url('../icons/icons.eot?#iefix') format('embedded-opentype'), url('../icons/icons.woff') format('woff'), url('../icons/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  Icons  */
[data-icon] {
  display: inline-block;
  *display: inline;
}
[data-icon]:before {
  font-family: 'Icons';
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-size: 1.5em;
  vertical-align: -8%;
  font-weight: normal;
}
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Removes default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
}
/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _` || __|/ _ \          |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.1                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+270C;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
.ampersand-placeholder {
  font-family: Verdana, sans-serif;
}
.breakword {
  word-wrap: break-word;
}
.normal-wrap {
  word-wrap: normal;
}
.inherit-wrap {
  word-wrap: auto;
}
/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap(@float: left, @font-size: 4em, @font-family: inherit, @text-indent: 0, @margin: inherit, @padding: inherit, @color: inherit, @lineHeight: 1, @bg: transparent);
 *
 * Extend this object into your custom stylesheet.
 *
 */
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}
html {
  font: normal 112.5%%/1.65 'Borgia', Georgia, "Times New Roman", Times, Serif;
}
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  color: #444444;
}
.tera {
  font-size: 117px;
  font-size: 6.5%rem;
  margin-bottom: 0.25384615384615383%rem;
}
.giga {
  font-size: 90px;
  font-size: 5%rem;
  margin-bottom: 0.33%rem;
}
.mega {
  font-size: 72px;
  font-size: 4%rem;
  margin-bottom: 0.4125%rem;
}
.alpha {
  font-size: 60px;
  font-size: 3.3333333333333335%rem;
  margin-bottom: 0.495%rem;
}
.beta {
  font-size: 48px;
  font-size: 2.6666666666666665%rem;
  margin-bottom: 0.61875%rem;
}
.gamma {
  font-size: 36px;
  font-size: 2%rem;
  margin-bottom: 0.825%rem;
}
.delta {
  font-size: 24px;
  font-size: 1.3333333333333333%rem;
  margin-bottom: 1.2375%rem;
}
.epsilon {
  font-size: 21px;
  font-size: 1.1666666666666667%rem;
  margin-bottom: 1.4142857142857141%rem;
}
.zeta {
  font-size: 18px;
  font-size: 1%rem;
  margin-bottom: 1.65%rem;
}
h1 {
  font-size: 60px;
  font-size: 3.3333333333333335%rem;
  margin-bottom: 0.495%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
h2 {
  font-size: 48px;
  font-size: 2.6666666666666665%rem;
  margin-bottom: 0.61875%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
h3 {
  font-size: 36px;
  font-size: 2%rem;
  margin-bottom: 0.825%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
h4 {
  font-size: 24px;
  font-size: 1.3333333333333333%rem;
  margin-bottom: 1.2375%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
h5 {
  font-size: 21px;
  font-size: 1.1666666666666667%rem;
  margin-bottom: 1.4142857142857141%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
h6 {
  font-size: 18px;
  font-size: 1%rem;
  margin-bottom: 1.65%rem;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}
p {
  margin: 0 0 1.5em;
}
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}
pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
pre {
  white-space: pre;
}
code {
  white-space: pre;
  font-family: monospace;
}
/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: #808080;
}
abbr:hover {
  cursor: help;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.lining dd + dd:before {
  content: ", ";
}
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}
/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}
/**
 * Stats Tab Markup
 *
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
 *
 * Extend this object into your markup.
 *
 */
.stats-tabs {
  padding: 0;
}
.stats-tabs li {
  display: inline-block;
  margin: 0 0.625rem 0 0;
  padding: 0 0.625rem 0 0;
  border-right: 0.125rem solid #cccccc;
}
.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.stats-tabs li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}
.stats-tabs li a b {
  display: block;
  margin: 0.125rem 0 0 0;
  font-size: 0.875rem;
  font-weight: normal;
}
/**
 * Blockquote Markup
 *
	<blockquote cite="">
		<p>&Prime;&Prime;</p>
		<cite>
			<small><a href=""></a></small>
		</cite>
	</blockquote>
 *
 * Extend this object into your markup.
 *
 */
.cite {
  display: block;
  font-size: 0.875em;
  text-align: right;
}
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em;
}
.pull-quote:before,
.pull-quote:after {
  height: 1em;
  opacity: 0.15;
  position: absolute;
  font-size: 4em;
}
.pull-quote:before {
  content: '“';
  top: 0em;
  left: 0em;
}
.pull-quote:after {
  content: '”';
  bottom: 0em;
  right: 0em;
}
/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Grid
 *
 * Set up responsive grid system.
 * 
 * This is heavily infleuenced by the Semantic Grid http://semantic.gs
 *
 * @author Abban Dunne http://abandon.ie
 * @author James Wilson http://jimmynotjim.com
 * @version 1.1
 */
/* Utility variable — you should never need to modify this */
/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack */
/* Ensure grid columns are set to border-boxes. This is essential */
/* Our row container */
/* Our column container */
/* Push adds left padding */
/* Pull adds right padding */
/* GRID OPTIONS
 * Add customizations for the grid here
/* ========================================================== */
/* TYPEPLATE OPTIONS
 * Add customizations for typeplate here
/* ========================================================== */
/* Links */
/* Submit & Button Colours */
/* Select colors */
/* COLOUR OPTIONS
 * Add customizations for typeplate here
/* ========================================================== */
/**
 * Mixins
 *
 * Various mixins to modularize vendors and css3. Feel free to add your own.
 * 
 */
/* Layout Helpers
/* ========================================================== */
/* Hacks
/* ========================================================== */
/* Vendor Prefix Removal Modules
/* ========================================================== */
/**
 * Type Overrides
 *
 * Edit this file to apply style overrides for your site
 *
 *
 * 
 */
/* Box sizing to make life easier
/* ========================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Add type aliasing to everything
/* ========================================================== */
body {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.clear {
  clear: both;
}
/* Custom selection colours
/* ========================================================== */
::selection {
  background: #78aace;
  color: #ffffff;
}
::-moz-selection {
  background: #78aace;
  color: #ffffff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #78aace;
}
/* Links
/* ========================================================== */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #6bac60;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #78aace;
}
/* Responsive Images
/* ========================================================== */
figure img {
  width: 100%;
  height: auto;
  display: block;
}
/* Lists
/* ========================================================== */
ul,
ol,
dl {
  margin: 0;
  margin-bottom: 1.5em;
}
nav ul {
  list-style-type: none;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul.items {
  list-style-type: none;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #eee;
}
ul.items li {
  border-bottom: 1px solid #eee;
  padding: 0.5em 0;
}
ul.items li article {
  margin-bottom: 0 !important;
}
ul.items li article h2 {
  margin-bottom: 0;
}
/* Forms
/* ========================================================== */
/**
 * Form Markup : This is the markup style for a form
 *
<form>
    <ul>
        <li>
            <label for="element">Label</label>
            <div class="field">
                <input type="text" name="element" id="element" placeholder="Placeholder text..">
                <?php if($error): ?><div class="error">Error message</div><?php endif; ?>
            </div>
        </li>
        <li class="form_buttons">
            <input type="submit" value="submit">
        </li>
    </ul>
</form>
 */
/**
 * Select Markup : This is the markup style for a select in your form
 *
<li>
    <label for="select_element">Select:</label>
    <div class="field">
        <div class="select">
            <select name="select_element">
                <optgroup label="Option Group 1">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </optgroup>
                <optgroup label="Option Group 2">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </optgroup>
            </select>
        </div>
    </div>
</li>
 */
form {
  margin-bottom: 1.5em;
}
form ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
form ul li {
  *zoom: 1;
  clear: both;
  margin-bottom: 1.5em;
}
form ul li:before,
form ul li:after {
  content: "";
  display: table;
}
form ul li:after {
  clear: both;
}
form ul li div.field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 58.333333333333336%;
  padding: 0 12px;
  *width: 54.427083333333336%;
  *padding: 0 11.9609375px;
}
form ul li div.error {
  font-size: small;
  color: red;
  text-align: right;
}
form ul li:before {
  display: none;
}
form ul li.form_buttons {
  margin-left: 17.5%;
}
label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 16.666666666666664%;
  padding: 0 12px;
  *width: 12.760416666666666%;
  *padding: 0 11.9609375px;
  outline: none;
  font-weight: normal;
  white-space: nowrap;
  padding-top: 5px;
}
label > span.required {
  color: #c0392b;
}
label.inline {
  display: inline;
}
label.checkbox {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  color: #666666;
}
label.checkbox input {
  margin-right: 6px;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0px;
  -webkit-box-shadow: 0px 0px 5px #ffffcc;
  -moz-box-shadow: 0px 0px 5px #ffffcc;
  -ms-box-shadow: 0px 0px 5px #ffffcc;
  -o-box-shadow: 0px 0px 5px #ffffcc;
  box-shadow: 0px 0px 5px #ffffcc;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: block;
  width: 100%;
  margin: 0 0 0.75em;
  padding: 0.4em;
  border: 1px solid #e8e8e8;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #ffffff;
  line-height: 1.5em;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
}
select {
  width: 100%;
  height: 2.1em;
  margin-bottom: 0.9em;
  border: 1px solid #e8e8e8;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
}
div.select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 35px;
  line-height: 33px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 0 0 20px 3px;
  padding: 0 0 0 5px;
  position: relative;
}
div.select:after {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #fefefe 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #dddddd 100%);
  background: linear-gradient(top, #fefefe 0%, #dddddd 100%);
  content: '▼';
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 3px 7px 0;
  border-left: 1px solid #ddd;
}
div.select:hover:after {
  color: #6bac60;
}
div.select > select {
  position: relative;
  z-index: 99;
  background: none;
  width: 100%;
  padding: 1px 20px 0 3px;
  border: 0;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
}
div.select > select:focus,
div.select > select:active {
  outline: none !important;
}
div.select > select:hover {
  cursor: pointer;
}
input[type="range"],
input[type="color"] {
  vertical-align: middle;
  height: 1.5em;
  width: 100%;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
}
input[type="range"] {
  height: 1.4em;
}
input[type="color"] {
  width: 1.5em;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
}
input[type="time"] {
  margin: 0 0 0.55em;
}
progress,
meter {
  display: block;
  width: 100%;
  height: 1.5em;
}
input[type="file"] {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 0.8em;
}
input[type="submit"],
input[type="button"] {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  background: #6bac60;
  color: #ffffff;
  padding: 5px 24px;
  border: 0;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus {
  cursor: pointer;
  background: #78aace;
}
::-webkit-file-upload-button {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  background: #6bac60;
  color: #ffffff;
  padding: 5px 24px;
  border: 0;
}
::-webkit-file-upload-button:hover,
::-webkit-file-upload-button:focus {
  cursor: pointer;
  background: #78aace;
}
::-ms-browse {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Borgia', Georgia, "Times New Roman", Times, Serif;
  background: #6bac60;
  color: #ffffff;
  padding: 5px 24px;
  border: 0;
}
::-ms-browse:hover,
::-ms-browse:focus {
  cursor: pointer;
  background: #78aace;
}
/* Tables
/* ========================================================== */
table {
  margin-bottom: 1.4em;
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: separate;
}
table thead th,
table th {
  text-align: left;
}
table th,
table td,
table caption {
  padding: 0 10px;
}
table th span.icon,
table td span.icon,
table caption span.icon {
  line-height: 1.7em;
}
table td p {
  margin-bottom: 0;
}
table tr.alt td,
table tr:nth-child(even) td {
  background: #f9f9f9;
}
table tfoot {
  font-style: italic;
}
table caption {
  background: #999;
}
/* Misc
/* ========================================================== */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}
.align_left {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.align_right {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
/**
 * WT Menu
 * http://webtogether.ie
 *
 * Default styles to be applied to the menu.
 * 
 * July 2013
 * 
 * @version 1
 * @author Abban Dunne http://webtogether.ie
 * @license MIT
 * 
 */
/* Settings
/* ========================================================== */
/* Menu Default Stylings
/* ========================================================== */
#styx,
.wt-menu {
  position: relative;
  background: none;
}
#styx > ul,
.wt-menu > ul {
  text-align: left;
}
#styx > ul > li,
.wt-menu > ul > li {
  float: left;
  position: relative;
  *display: inline;
}
#styx > ul > li > a,
.wt-menu > ul > li > a {
  display: block;
  background: none;
  color: #6bac60;
}
#styx > ul > li > a:hover,
.wt-menu > ul > li > a:hover,
#styx > ul > li > a:focus,
.wt-menu > ul > li > a:focus {
  background: none;
  color: #78aace;
}
#styx > ul > li > ul,
.wt-menu > ul > li > ul {
  display: none;
  position: absolute;
  left: 0;
  z-index: 9999;
}
#styx > ul > li > ul > li a,
.wt-menu > ul > li > ul > li a {
  display: block;
  white-space: nowrap;
  background: #dcdcdc;
  color: #6bac60;
}
#styx > ul > li > ul > li a:hover,
.wt-menu > ul > li > ul > li a:hover,
#styx > ul > li > ul > li a:focus,
.wt-menu > ul > li > ul > li a:focus {
  background: #adadad;
  color: #78aace;
}
#styx > ul > li:hover > ul,
.wt-menu > ul > li:hover > ul,
#styx > ul > li:focus > ul,
.wt-menu > ul > li:focus > ul {
  display: block;
}
/* Mobile button
/* ========================================================== */
.wt-nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 60px;
  font-size: 3em;
  cursor: pointer;
}
.wt-nav-mobile:before {
  content: '≣';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  text-align: center;
}
/* Accordian symbol
/* ========================================================== */
.wt-nav-click {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 60px;
  z-index: 999;
  cursor: pointer;
}
.wt-nav-click span {
  position: relative;
  display: block;
  width: 48px;
  height: 58px;
}
.wt-nav-click span:before {
  content: '▼';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 58px;
  text-align: center;
}
.wt-nav-click span.wt-nav-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* Breakpoint changes
/* ========================================================== */
@media only screen and (max-width: 830px) {
  .wt-nav-mobile {
    display: block;
  }
  #styx,
  .wt-menu {
    width: 100%;
    padding: 60px 0 0;
  }
  #styx > ul,
  .wt-menu > ul {
    display: none;
    position: relative;
    width: 100%;
    z-index: 9999;
  }
  #styx > ul > li,
  .wt-menu > ul > li {
    display: block;
    width: 100%;
    float: none;
  }
  #styx > ul > li > a,
  .wt-menu > ul > li > a {
    display: block;
    padding: 15px;
  }
  #styx > ul > li > ul,
  .wt-menu > ul > li > ul {
    position: static;
    float: none !important;
    width: 100%;
  }
  #styx > ul > li:hover > ul,
  .wt-menu > ul > li:hover > ul,
  #styx > ul > li:focus > ul,
  .wt-menu > ul > li:focus > ul {
    display: none;
  }
  #styx > ul > li:hover > ul.open,
  .wt-menu > ul > li:hover > ul.open,
  #styx > ul > li:focus > ul.open,
  .wt-menu > ul > li:focus > ul.open {
    display: block;
  }
  #styx ul.open,
  .wt-menu ul.open {
    display: block;
  }
  .wt-nav-click {
    display: block;
  }
  .wt-nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
  }
}
/* Your custom styles go here
/* ========================================================== */
body {
  background: #efefef;
}
header#prelude,
footer#conclusion {
  width: 100%;
  background: #efefef;
  padding: 1.5em 0;
  line-height: 60px;
}
header#prelude > div {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
}
header#prelude > div:before,
header#prelude > div:after {
  content: "";
  display: table;
}
header#prelude > div:after {
  clear: both;
}
header#prelude > div > figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 25%;
  padding: 0 12px;
  *width: 21.09375%;
  *padding: 0 11.9609375px;
}
header#prelude > div > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 75%;
  padding: 0 12px;
  *width: 71.09375%;
  *padding: 0 11.9609375px;
  min-height: 60px;
}
header#prelude > div > div ul {
  float: right;
}
header#prelude > div > div ul li a {
  padding: 0 1.5em;
  white-space: nowrap;
}
#content {
  width: 100%;
  background: #ffffff;
}
#content > div {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
#content > div:before,
#content > div:after {
  content: "";
  display: table;
}
#content > div:after {
  clear: both;
}
#content > div > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 75%;
  padding: 0 12px;
  *width: 71.09375%;
  *padding: 0 11.9609375px;
}
#content > div > aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 25%;
  padding: 0 12px;
  *width: 21.09375%;
  *padding: 0 11.9609375px;
  background: #efefef;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
footer#conclusion > div {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
}
footer#conclusion > div:before,
footer#conclusion > div:after {
  content: "";
  display: table;
}
footer#conclusion > div:after {
  clear: both;
}
footer#conclusion > div > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 100%;
  padding: 0 12px;
  *width: 96.09375%;
  *padding: 0 11.9609375px;
}
/**
 * NOTE
 * Don't add breakpoints aimed at device pixel widths,
 * add them where they suit best for your design. 
 */
@media only screen and (max-width: 830px) {
  header#prelude > div > figure {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 100%;
    padding: 0 12px;
    *width: 96.09375%;
    *padding: 0 11.9609375px;
  }
  header#prelude > div > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 100%;
    padding: 0 0;
    *width: 96.09375%;
    *padding: 0 -0.0390625px;
  }
}
@media screen and (max-width: 750px) {
  
}
